@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$mat-light-blue);
$my-accent: mat.define-palette(mat.$mat-light-green);
$my-warn: mat.define-palette(mat.$mat-red);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));
@include mat.all-component-themes($my-theme);

//for dark theme
$my-primary-dark: mat.define-palette(mat.$mat-orange);
$my-accent-dark: mat.define-palette(mat.$mat-yellow);
$my-warn-dark: mat.define-palette(mat.$mat-red);

$my-theme-dark: mat.define-dark-theme((
  color: (
    primary: $my-primary-dark,
    accent: $my-accent-dark,
    warn: $my-warn-dark,
  )));
.dark-theme-mode {
  @include mat.angular-material-theme($my-theme-dark);
}
